*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.879);
    height: 100vh;
}
.container-app{
    
    background-color: rgb(78, 12, 73);
    border-radius: 10px;
    padding: 15px;
}

input,button{
    padding: 20px;
    border: none;
    border-radius: 12px;
    margin-top: 5px;
    font-size: 20px;
    margin-left: 5px;
    text-align: center;
}

button{
    font-size: 20px;
    box-shadow: 5px 5px rgb(8, 8, 66);
    background-color: rgb(18, 18, 104);
    color: white;
}

button:hover{
    box-shadow: 5px 5px rgb(14, 14, 94);
    background-color: rgb(30, 30, 140);
    cursor: pointer;
}

.res{
   
    padding: 20px;
  display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(112, 40, 106);
    box-shadow: 5px 5px  rgb(108, 25, 101);
    border-radius: 12px;
    font-size: 25px;
    margin-top: 30px;
   
}
