*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    background-color: rgb(10, 14, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-app{
    background-color: rgb(22, 78, 102);
    height: 230px;
    padding: 35px;
    width: 500px;
    border-radius: 10px;
}

.seg{
  
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    color: green;
    font-size: 20px;
    width: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 3px;
    background-color: rgb(100, 100, 163);
    border: none;
}
input::placeholder{
    color: rgb(74, 108, 74);
}
input:focus{
    outline: 3px solid rgb(57, 57, 177);
}
.cx-btns{
    margin-top: 15px;
    display: flex;
}

button{
    color: white;
    font-size: 20px;
    flex: 1;
    width: 30%;
    border-radius: 5px;
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;

}

.on{
    background-color: rgb(20, 97, 20);
    box-shadow: 5px 5px rgb(22, 86, 22);
}
.on:hover{
    cursor: pointer;
    background-color: rgb(48, 200, 48);
    box-shadow: 5px 5px rgb(15, 138, 15);
}

.off{
    cursor: pointer;
    background-color: rgb(97, 20, 29);
    box-shadow: 5px 5px rgb(81, 16, 16);
}
.off:hover{
    background-color: rgb(164, 31, 42);
    box-shadow: 5px 5px rgb(125, 14, 14);
}

.oculto{
    display: none;
}
.visivel{
    background-color: #eee;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 40px;
}