*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.797);
}

.container-app{
   
    height: 500px;
    width: 600px;
    background-color: #3e1559;
    border-radius: 15px;
    padding:20px;
    box-shadow: 0 0 10px ;
}
.title{
    text-align: center;
    color: #fffdfe;
    margin-top: 15px;
    margin-bottom: 15px;
}
.cx-rel{
    background-color: rgba(0, 0, 0, 0.693);
    padding: 15px;
    border-radius: 10px;
   font-size: 35px;
   text-align: center;
   color: red;
}


.cx-btns{
    display: flex;
    justify-content: center;
}

.btn-func{
flex: 1;
padding: 10px;
background-color: #561481;
margin-left: 5px;
margin-right: 5px;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
margin-top:20px;
box-shadow: 5px 5px #471767;
}
.btn-func img{
width: 50px;
height: 50px;

}

.btn-func:hover{
    background-color: #87639f;
    box-shadow: 5px 5px #76578a;
    cursor: pointer;
}

@media screen and (max-width:950px){
    .container-app{
        width: 90vw;
    }
    .cx-btns{
        width: 80vw;
    }
    .btn-func img{
        width: 30px;
        height: 30px;
        
        }
}

@media screen and (max-width:300px){
    .container-app{
         margin-top: 80px;
    }
    .cx-btns{
        flex-direction: column;
    }
}