*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #081c3d;
}

.container-app{
    background-color: #5e1b59;
    height: 600px;
    width: 600px;
    margin-top: 40px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px #87227f;
}

.title{
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 0 0 10px #87227f;
}
.cx-inputs{
    display: flex;
    flex-direction: column;
}
input{
    margin-top:20px;
    padding: 20px;
    text-align: center;
    border: none;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    background-color:#aaa;
    font-size: 18px;
}
.cx-btns{
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{

    padding: 20px 10px;
    width: 80%;
    align-self: center;
    border-radius: 10px;
    border: none;
    background-color: rgb(60, 153, 60);
    color: white;
}
button:hover{
    background-color: rgb(36, 188, 36);
    cursor: pointer;
}

.btn-reset{
    flex: 1;
    margin-left: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   height: 40px;
   padding: 25px;
   border-radius: 10px;
  
}

.btn-reset:hover{
cursor: pointer;
background-color: rgb(212, 215, 212);
}
@media screen and (max-width:960px){
    .container-app{
        width: 90vw;
    }
}

.res{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: #aaa;
    padding: 15px;
    box-shadow: 0 0 10px rgb(146, 143, 143);
    border-radius: 10px;
}